{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'practice/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'practice/style.css' %}" />

<body>

{% include "practice/header.html" %}

<div class="container">
    <p><h3> Information </h3></p>
    <div class="query_params">
      <p> <strong>id:</strong> {{ object.id }} </p>
      <p> <strong>Name / Title:</strong> {{ object.name }} </p>
      <p> <strong>Creation Time:</strong> <text id="creation_time"> {{ object.creation_time }} </text></p>
      <p> <strong>Result Time:</strong> <text id="result_time"> {{ object.result_time }} </text></p>
        {% if object.query_type == 's' %}
          <p> <strong>Query:</strong> string from <p>
          <textarea name="string_form" cols="60" rows="5" id="string_form" maxlength="1900" readonly>{{ object.query_text }}
          </textarea></p>
          </p>
        {% else %}
          <p> <strong>Query:</strong> {{ object.query_text }}</p>
        {% endif %}
    </div>
    <p><h3> Result </h3></p>
    <div class="query_params">
      <p> <strong>Remaining time:</strong> <text id="countdown_holder"></text> </p>
      <p> <strong>Generated random:</strong> <text id="generated_random"></text> </p>
    </div>
    
    <p><h3> Let me know the result </h3></p>
    <form onsubmit="">
      <div class="query_params">
        <input type="checkbox" name="subscribe" id="email" checked="true">
        <label for="subscribe"> <strong>By e-mail:</strong> </label>
        <input type="text" name="email"/>
        <br/>
        <input type="checkbox" name="subscribe" id="phone">
        <label for="subscribe"> <strong>By phone:</strong> </label>
        <input type="text" name="phone"/>
      </div>
      <button class="btn btn-primary" type="submit">Subscribe!</button>
    </form>
</div>
</body>

<script src="{% static 'practice/jquery.js' %}"></script>
<script src="{% static 'practice/countdown.js' %}"></script>
<script src="{% static 'practice/detail.js' %}"></script>
<script src="{% static 'practice/main.js' %}"></script>

<script>
  var creation_time = parse_date_to_client(String({{ object.creation_time.year }}), String({{ object.creation_time.month }}), String({{ object.creation_time.day }}), String({{ object.creation_time.hour }}), String({{ object.creation_time.minute }}));
  var result_time = parse_date_to_client(String({{ object.result_time.year }}), String({{ object.result_time.month }}), String({{ object.result_time.day }}), String({{ object.result_time.hour }}), String({{ object.result_time.minute }}));
  var now = new Date((new Date()).toString());
  
  $('#creation_time').html(date_formatting(creation_time));
  $('#result_time').html(date_formatting(result_time));

  var clock = document.getElementById("countdown_holder");
  var generated_random = "{{ object.result }}";
  
  if (result_time > now) {
    clock.innerHTML = countdown(result_time).toString();
    var countdown_timer = setInterval(function() {
      if (result_time >= new Date()) {
        document.getElementById("generated_random").innerHTML = generated_random;
        clock.innerHTML = countdown(result_time).toString();
      } else {
        check_result(window.location.href.match(/id\d+/).toString().substring(2));
        clearInterval(countdown_timer);
      }
    }, 1000);
  } else {
    clock.innerHTML = "random is generated";
    document.getElementById("generated_random").innerHTML = generated_random;
  }
</script>