{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'practice/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'practice/style.css' %}" />

<body>
	{% include "practice/header.html" %}
	<div class="container" style="padding-bottom:20px;">
		<table class="table" id="history_table">
			<thead><tr>
				<th>id</th>
				<th>name</th>
				<th>creation time</th>
				<th>query text</th>
				<th>result time</th>
			</tr></thead>
			{% for obj in objects %}
				<tr>
					<td>{{ obj.id }}</td>
					<td>{{ obj.name }}</td>
					<td>{{ obj.creation_time }}</td>
					<td>{{ obj.query_text }}</td>
					<td>{{ obj.result_time }}</td>
				</tr>
			{% endfor %}
		</table>
		<button class="btn btn-primary center-block" type="button" onclick="get_more_obj()">Load more</button>
	</div>
</body>
<script src="{% static 'practice/jquery.js' %}"></script>

<script>
	last = jQuery(jQuery('#history_table tr').last().html(), 'td').first().html()
	function get_more_obj() {
		xmlhttp = new XMLHttpRequest();
		xmlhttp.onreadystatechange=function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status==200) {
				newHistory = JSON.parse(xmlhttp.responseText);
				load_more_obj(newHistory);
			}
		}
		xmlhttp.open("GET", "ajax_history?last=" + last, true);
		xmlhttp.send();
	}
	function load_more_obj(newHistory) {
		var table = document.getElementById("history_table");
		for (key = 0; key < 20; ++key) {
			var out = "<td>" + newHistory[key]['id'] + "</td>" +
					"<td>" + newHistory[key]['name'] + "</td>" + 
					"<td>" + newHistory[key]['creation_time'] + "</td>" + 
					"<td>" + newHistory[key]['query_text'] + "</td>" + 
					"<td>" + newHistory[key]['result_time'] + "</td>";
			var row = table.insertRow(table.rows.length);
			row.innerHTML = out;
		}
		last = jQuery(jQuery('#history_table tr').last().html(), 'td').first().html()
	}
</script>