{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'practice/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'practice/style.css' %}" />

<script src="{% static 'practice/jquery.js' %}"></script>
<script src="{% static 'practice/main.js' %}"></script>
<script src="{% static 'practice/history.js' %}"></script>

<body>
	{% include "practice/header.html" %}
	<div class="container" style="padding-bottom:20px;">
		<table class="table" id="history_table">
			<thead><tr>
				<th>id</th>
				<th>name</th>
				<th>creation time</th>
				<th>query text</th>
				<th>result time</th>
			</tr></thead>
		</table>
		<button class="btn btn-primary center-block" type="button" onclick="get_more_obj()">Load more</button>
	</div>
</body>
<script>
	last = {{ count }} + 1;
	get_more_obj();
</script>