{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'practice/bootstrap/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'practice/style.css' %}" />

<body>
	{% include "practice/header.html" %}
	<div class="container" style="padding-top:50px;">
		<p>This site is created for you. No one else. Over here you can easy get basic randoms. What for?</p>
		<p>It depends.</p>
		<ul>
			<li><p>Maybe you are eager to figure out how many rozes to present you girlfriend!</p></li>
			<li><p>Maybe some part of you need to understand whether it is a good decision to go to the party today.</p></li>
			<li><p>Maybe you would like to drink some bear, but how many?</p></li>
		</ul>
		<p>This application will help you, bro! Also it can pretty be with you when you need some analytics, some entertainment. But be kindly - this project wants your help too! If you find a bag, let me know.</p>
		<p>Thank you!</p>
	</div>
</body>