body {
    background-color:#FFF3F3;
}
#cont{
    height:60em;
}
.boxes {
    width:30%;
    border-radius: 25px;
    border: 2px solid #000000;
    position:relative;
    padding:0.5%;
    font-size:10pt;
    padding-top:0%;
    padding-bottom:0%;
}
#Int_box {
    left:15%;
    float:left;
    background-color:#FF4D4D;
}
#String_box {
    float:right;
    right:15%;
}
#Real_box {
    margin-top:5%;
    float:left;
    left:15%;
    clear:left;
}
#Bool_box {
    margin-top:3%;
    float:right;
    right:15%;
    clear:right;
}
#optional_settings {
	background-color:#FFF3F3;
	position:fixed;
    bottom:0%;
    width:100%;
    border-top: 5px solid #000;
}
#get_it{
    width:100px;
    margin-top:5px;
}
hr{
    background-color:black;
    height:5px;
}
.p{
    text-align:justify;
}
#textbox{
    text-align:center;
}
.relocate{
	position:relative;
	margin-top:-3%;
	line-height:0%;
}
.optional_settings_part {
	width: 33%;
	text-align: center;
}
#optional_settings_name {
	float:left;
}
#optional_settings_password {
	float: right;
}
#optional_settings_time {
	 display: inline-block;
}
button {
    background: #FF4D4D;
    color: #fff;
    height: 30px;
    margin: 5px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 0;
    transition: all 0.3s ease 0s;
}
button:hover {
    background: #C60202;
}